body {
    font-family: 'Roboto', sans-serif;
    background-color: #e0eafd;
    color: #212121;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
a {
    color: #FF9800; 
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
.container,
.container-reg {
    max-width: 400px;
    width: 100%;
    padding: 30px;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}
h1 {
    color: #3F51B5;
    margin-bottom: 20px;
}
input[type="text"],
input[type="password"],
input[type="email"] {
    width: 95%;
    padding: 12px;
    margin: 12px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
    border-color: #3F51B5; 
}
input[type="submit"] {
    background-color: #3F51B5; 
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}
.container-reg input[type="submit"]{
    background-color: #3F51B5; 
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}
.container-reg input[type="text"],
.container-reg input[type="password"], 
.container-reg input[type="email"] {
    width: 90%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
}
input[type="submit"]:hover {
    background-color: #303F9F; 
}